#-------------------------------------------------------------------------------------------
# Имя файла должно соответствовать дате в которую плейлист должен стартовать 
# Например 20120602.playlist это файл будет работать у пользователя уже с первой минуты 02.06.2012
#-------------------------------------------------------------------------------------------
# Всё что помечено вначале строки символом "#" игнорируется.
# Между элементами должны быть символы TAB или не менее 4 пробелов
# Пустые строки игнорируются.
# Пробелы и символы табуляции игнорируются в начале строки
# Некорректные (с неверным кол-вом параметров, с неверным форматом параметров) строки игнорируются
#-------------------------------------------------------------------------------------------
# ОПИСАНИЕ ПАРАМЕТРОВ:
# * id:			string				[STRING]				- внутренний идентификатор элемента
# * timepoint: 	datetime|string 	[DATETIME|"auto"] 		- время в которое должен стартонуть ролик если "auto", то будет вычеслен по предыдущим вхождениям timepoint и duration
# * type: 		string 				["youtube"|"vimeo"] 	- тип элемента откуда подтягивается видео 
# * ext_id:		string				[STRING]				- идентификатор для разного type - определяет разные элементы в сервисе
# * duration:	time 				[TIME]					- длительность элемента в формате [[Ч:]М:]С, например 20:45 = 20 минут и 45 секунд, 34 = 34 секунды, 28:25:00 = 28 часов и 25 минут
# * name:		string				[STRING]				- название элемента
#-------------------------------------------------------------------------------------------


#-------------------------------------------------------------------------------------------
# id  		timepoint				type		ext_id					duration		name
#-------------------------------------------------------------------------------------------
  256		2012-06-18 20:12:10		youtube		YEkZPFPUjy8			6:48			+100500 - Разрешение
  porno47	auto					vimeo		51205913			6:36			A Man Who Delivers
  # Комментарий который игнорируется, может содержать описание предыдущего porno47 или следующего YYKjkYJEByc элемента  
  adv15		2012-06-18 20:30:10		youtube		YYKjkYJEByc			23:40			ASMR/АСМР Турагентство.